<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
  <link rel="shortcut icon" href="{{ asset('favicon/favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('favicon/apple-icon-57x57.png') }}">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('favicon/apple-icon-60x60.png') }}">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('favicon/apple-icon-72x72.png') }}">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('favicon/apple-icon-76x76.png') }}">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('favicon/apple-icon-114x114.png') }}">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('favicon/apple-icon-120x120.png') }}">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('favicon/apple-icon-144x144.png') }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('favicon/apple-icon-152x152.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-icon-180x180.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('favicon/android-icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('favicon/favicon-96x96.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ asset('favicon/manifest.json') }}">
  <!-- Titulo da página -->
  <title>{{ settings.title|raw }} | {{ moduleName }}</title>
  <!-- Titulo da página -->
  <meta name="ẗitle" content="{% block metatitle %}{{ settings.title|raw }}{% endblock %}">
  <meta name="description" content="{% block metadescription %}{{ settings.descriptions|raw }}{% endblock %}">
  <meta name="keywords" content="{% block metakeywords %}{{ settings.keywords|raw }}{% endblock %}">
  <meta name="site" content="{{ route }}">
  <meta name="author" content="Unittá, www.unitta.com.br">
  <meta name="language" content="pt-BR" />
  <meta name="country" content="BRA" />
  <meta name="robots" content="all" >
  <meta name="Googlebot" content="index, follow">
  <meta content="7 days" name=revisit-after>
  <link rel="amphtml" href="{{ route }}amp-home">
  <meta property="og:title" content="{% block og_title %}{{ settings.title|raw }}{% endblock %}" />
  <meta property="og:site_name" content="{% block og_site_name %}{{ settings.title|raw }}{% endblock %}"/>
  <meta property="og:image" content="{% block og_image %}{{ asset('img/ICTS-Premio-Pro-Etica_336X280.gif') }}{% endblock %}"/>
  <meta property="og:url" content="{% block og_url %}{{ route }}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{{ settings.descriptions|raw }}{% endblock %}" />
  <meta property="og:type" content="{% block og_type %}content{% endblock %}" />
  <meta property="og:locale" content="{% block og_locale %}pt_BR{% endblock %}" />
  <meta property="place:location:latitude" content="{{ settings.latitude|raw }}"/>
  <meta property="place:location:longitude" content="{{ settings.longitude|raw }}"/>
  <meta property="business:contact_data:street_address" content="{{ settings.endereco|raw }}, {{ settings.nm_endereco|raw }} - {{ settings.complemento|raw }}"/>
  <meta property="business:contact_data:locality" content="{{ settings.cidade|raw }}, {{ settings.uf|raw }}"/>
  <meta property="business:contact_data:postal_code" content="{{ settings.cep|raw }}"/>
  <meta property="business:contact_data:country_name" content="{{ settings.pais|raw }}"/>
  <meta property="business:contact_data:email" content="{{ settings.email_site|raw }}"/>
  <meta property="business:contact_data:phone_number" content="{{ settings.phone|raw }}"/>
  <meta property="business:contact_data:website" content="{{ route }}"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ settings.title|raw }}" />
  <meta name="twitter:image" content="{{ asset('img/logo.png') }}" />
  <meta name="twitter:site" content="{{ settings.twitter_Account|raw }}" />
  <meta name="google-site-verification" content="{{ settings.googlesiteverification|raw }}" />
  <!-- Google Authorship & Publisher Markup - Utilizado para definir quem é o autor e quem publicou o link -->
  <link rel="author" href="https://plus.google.com/{{ settings.googleprofile|raw }}/posts"/>
  <link rel="publisher" href="https://plus.google.com/{{ settings.googlepageprofile|raw }}"/>
  <!-- Schema.org markup para o Google+ -->
  <meta itemprop="name" content="{{ settings.title|raw }}">
  <meta itemprop="description" content="{{ settings.descriptions|raw }}">
  <meta itemprop="image" content="{{ asset('img/logo.png') }}" />
  <!-- =======================Stylesheet=========================== -->
  <!-- Font-Lato-->
  {#<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">#}
  <link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="{{ asset('css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="{{ asset('css/reset.css') }}" type="text/css" /><!-- Formatação -->
  <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css" /><!-- Styles CSS -->
  <link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('css/simpleline-icons/css/simple-line-icons.css') }}" media="screen" />
  <link rel="stylesheet" href="{{ asset('css/et-linefont/etlinefont.css') }}">
  <link rel="stylesheet" media="screen" href="{{ asset('css/responsive-layouts.css') }}" type="text/css" /><!-- Responsivo -->
  <!-- =======================/Stylesheet========================== -->

  {% block stylesheet %}{% endblock %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!--Google Analytics-->
  {{ settings.cod_GoogleAnalytics|raw }}
  <!--/Google Analytics-->
</head>
<body>
{% block bodyfunctions %}{% endblock %}
<div class="site-wrapper">
  {% include 'inc/header.html.twig' %}
  {% if setFlash %}
  <section style="position: fixed;top: 47%; left: 36%;z-index: 9999999;">
    <div class="row nopadding">
      <div class="col-md-12">
        <div class="alert {{ setFlash.status }}">
          <span class="closebtn">×</span>
          <h6 class="white lato"><strong class="caps">{{ setFlash.title }}!</strong> {{ setFlash.message }}</h6>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% block container %}  {% endblock %}
  {% include 'inc/footer.html.twig' %}
</div>
<!-- =======================Javascripts=========================== -->
<!-- Fecha Bottão de Contato -->
<script type="text/javascript">
var close = document.getElementsByClassName("closebtn");
var i;

for (i = 0; i < close.length; i++) {
  close[i].onclick = function () {
    var div = this.parentElement;
    div.style.opacity = "0";
    setTimeout(function () {
      div.style.display = "none";
    }, 600);
  }
}
</script>
<!-- =======================/Javascripts========================== -->
{% block JScontainer %}{% endblock %}
</body>
</html>
