<!doctype html>
<!--{/*
@info
Generated on: Tue, 20 Feb 2018 22:12:09 GMT
Initiator: Rabbit AMP Generator
Generator version: 0.9.6
*/}-->
<html ⚡ lang="en">
<head>
  <meta charset="utf-8">
  <title>Afiasoccer | 404 Página não encontrada</title>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <link rel="canonical" href="http://afiasoccer.com/404">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta name="ẗitle" content="{% block metatitle %}{{ settings.title|raw }}{% endblock %}">
  <meta name="description" content="{% block metadescription %}{{ settings.descriptions|raw }}{% endblock %}">
  <meta name="keywords" content="{% block metakeywords %}{{ settings.keywords|raw }}{% endblock %}">
  <meta name="site" content="{{ route }}">
  <meta name="author" content="Unittá, www.unitta.com.br">
  <meta name="language" content="pt-BR" />
  <meta name="country" content="BRA" />
  <meta name="robots" content="all" >
  <meta name="Googlebot" content="index, follow">
  <meta content="7 days" name=revisit-after>
  <link rel="amphtml" href="{{ route }}amp-home">
  <meta property="og:title" content="{% block og_title %}{{ settings.title|raw }}{% endblock %}" />
  <meta property="og:site_name" content="{% block og_site_name %}{{ settings.title|raw }}{% endblock %}"/>
  <meta property="og:image" content="{% block og_image %}{{ asset('img/ICTS-Premio-Pro-Etica_336X280.gif') }}{% endblock %}"/>
  <meta property="og:url" content="{% block og_url %}{{ route }}{% endblock %}" />
  <meta property="og:description" content="{% block og_description %}{{ settings.descriptions|raw }}{% endblock %}" />
  <meta property="og:type" content="{% block og_type %}content{% endblock %}" />
  <meta property="og:locale" content="{% block og_locale %}pt_BR{% endblock %}" />
  <meta property="place:location:latitude" content="{{ settings.latitude|raw }}"/>
  <meta property="place:location:longitude" content="{{ settings.longitude|raw }}"/>
  <meta property="business:contact_data:street_address" content="{{ settings.endereco|raw }}, {{ settings.nm_endereco|raw }} - {{ settings.complemento|raw }}"/>
  <meta property="business:contact_data:locality" content="{{ settings.cidade|raw }}, {{ settings.uf|raw }}"/>
  <meta property="business:contact_data:postal_code" content="{{ settings.cep|raw }}"/>
  <meta property="business:contact_data:country_name" content="{{ settings.pais|raw }}"/>
  <meta property="business:contact_data:email" content="{{ settings.email_site|raw }}"/>
  <meta property="business:contact_data:phone_number" content="{{ settings.phone|raw }}"/>
  <meta property="business:contact_data:website" content="{{ route }}"/>
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ settings.title|raw }}" />
  <meta name="twitter:image" content="{% block twitterimage %}{{ asset('img/ICTS-Premio-Pro-Etica_336X280.gif') }}{% endblock %}" />
  <meta name="twitter:site" content="{{ settings.twitter_Account|raw }}" />
  <meta name="google-site-verification" content="{{ settings.googlesiteverification|raw }}" />
  <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
  <noscript data-amp-spec=""><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  <style amp-custom="">body {
    font-family: Tangerine,cursive
  }
  body {
    background: #eaeaea
  }
  .wrap {
    margin: 0 auto;
    width: 1000px
  }
  .logo {
    text-align: center;
    margin-top: 200px
  }
  .logo amp-img {
    width: 350px
  }
  .logo p {
    color: #272727;
    font-size: 40px;
    margin-top: 1px
  }
  .sub a {
    color: #fff;
    background: #272727;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 13px;
    font-family: arial,serif;
    font-weight: 700;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -border-radius: .5em
  }
  .footer {
    color: #000;
    position: absolute;
    right: 10px;
    bottom: 10px
    }</style>
  </head>
  <body>
    <div class="wrap">
      <div class="logo">
        <amp-img src="http://afiasoccer.com/assets/images/logo.png" width="350" height="350" layout="fixed"></amp-img>
        <br><br><br>
        <p>O endereco que você digitou não existe. {{Message}}</p>
        <div class="sub">
          <p><a href="http://afiasoccer.com/">Voltar </a></p>
        </div>
      </div>
    </div>
    <div class="footer">
    </div>
  </body>
  </html>
